<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<h1>Register</h1>
<p style="font-weight: bold; color: red" id="errorMessage"></p>
<form action="/register_completed" method="post" id="myForm" enctype="application/x-www-form-urlencoded">
  Username: <input type="text" name="username" id="username"><br>
  Password: <input type="password" name="password" id="password"><br>
  Confirm Password: <input type="password" name="confirm_password" id="confirm_password"><br>
  Email: <input type="email" name="email" id="email"><br>
  Confirm Email: <input type="email" name="confirm_email" id="confirm_email"><br>
  Member No: <input type="member_no" name="member_no" id="member_no"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>